<div class="p-3 mb-5 bg-white">
  <h3 class="mb-4">Mark Entry</h3>

  <div class="row justify-content-end m-0">
    <div class="col-md-12 mt-3 p-0 mscroll">

      <table class="table table-hover ">
        <thead class="thead-dark">
          <tr>
            <th>Subject</th>
            <th>Credits</th>
            <th>Internal Mark</th>
            <th>External Mark</th>
            <th>Total</th>



          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sm of subjectMappingLst">
            <td>{{sm.subjectName}}</td>
            <td>{{sm.credit}}</td>
            <td><input type="text" class="form-control" [(ngModel)]="sm.internalMarks" name="internalmark" (keyup)="onChangeEvent(sm)" #internalmark="ngModel" appOnlynumber required autocomplete="off"></td>
            <td><input type="text" class="form-control" [(ngModel)]="sm.externalMarks" name="externalmark" (keyup)="onChangeEvent(sm)" #externalmark="ngModel" appOnlynumber required autocomplete="off"></td>
            <td><input type="text" class="form-control" [(ngModel)]="sm.totalMarks" name="totalvalue" #totalvalue="ngModel" readonly></td>


          </tr>
        </tbody>
      </table>
      <button class="btn btn-success float-right" (click)="saveMarkEntry()" >Save</button>

    </div>

  </div>
</div>
