  <section class="fullscreen">
    <div class="loginpanel">
      <div class="logincontent">

        <img src="../../../assets/images/banner.png" class="img-fluid" />
      </div>
      <div class="login">

        <img src="../../../assets/images/logo.png" width="200" class="img-fluid" />


        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" autocomplete="off">
          <div class="form-group">
            <label for="">Username</label>
            <input type="text" name="username" id="" class="form-control" placeholder="Enter Username"
              (ngModel)="emailId" aria-describedby="helpId" required #emailId="ngModel">
            <span class=" text-danger" *ngIf="emailId.errors?.required && emailId.touched">
              UserName is required
            </span>

          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input type="password" name="password" id="" class="form-control" placeholder="Enter Password"
              (ngModel)="password" aria-describedby="helpId" required #password="ngModel">
            <span class="text-danger" *ngIf="password.errors?.required && password.touched">Password is required</span>
          </div>
          <div class="form-group m-0">
            <button class="btn btn-primary ctabutton" [disabled]="!loginForm.valid" type="submit">Sign In</button>
          </div>

        </form>
      </div>
    </div>
  </section>

