<!doctype html>
<html lang="en">
  <head>
    <title>Students Growth</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap" rel="stylesheet">

  </head>
  <body>

    <section class="fullscreen">
    <div class="loginpanel">
      <div class="logincontent">

        <img src="../../../assets/images/banner.png" class="img-fluid" />
      </div>
      <div class="login">

		<img src="../../../assets/images/logo.png" width="200" class="img-fluid" />


        <form>
          <div class="form-group">
            <label for="">Username</label>
            <input type="text" name="" id="" class="form-control" placeholder="Enter Username" aria-describedby="helpId">

          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input type="text" name="" id="" class="form-control" placeholder="Enter Password" aria-describedby="helpId">

          </div>
          <div class="form-group m-0">
            <button class="ctabutton" type="submit">Sign In</button>
          </div>

        </form>
      </div>
    </div>
   </section>

  </body>
</html>
